<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>SH-Tech</title>
</head>
<body>
<div class="container-fluid">
   <nav id="navbar" class="navbar navbar-fixed-top affix">
        <ul class="nav navbar-nav navbar-right">
            <a href="/">Home</a>
            {{#if logged_in}}
                    <a href="/dash/user/{{id}}">Dashboard</a>
                    <button class="nav-link" id="sign-out">Sign Out</button>
                {{else}}
                    <a href="/signup">Sign Up</a>
                    <a href="/login">Sign In</a>
            {{/if}}
        </ul>
    </nav> 
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">SH-Tech Blog</h1>
    </div>
</div>


<main>
    {{{ body }}}
</main>

{{#if logged_in}}
    <script src="/js/logout.js"></script>
{{/if}}
</body>
</html>


{{!--
WHEN I click on any other links in the navigation
THEN I am prompted to either sign up or sign in
WHEN I choose to sign up

WHEN I am signed in to the site
THEN I see navigation links for the homepage, the dashboard, and the option to log out 

 WHEN I click on one of my existing posts in the dashboard
THEN I am able to delete or update my post and taken back to an updated dashboard --}}