{{!-- WHEN I revisit the site at a later time and choose to sign in
THEN I am prompted to enter my username and password --}}
<div class="container">
    <div class="justify-content-center">
        <form class= action="">
            <div>
                <h3>Sign In!</h3>
            </div>
            <div>
                <input id="username" type="text" placeholder="Username">
                <input id="password" type="pasword" placeholder="Password">
            </div>
            <div>
                <input class="submit" id="submit" type="submit" value="Sign In!">
            </div>
        </form>
    </div>
</div>
