{{!-- WHEN I revisit the site at a later time and choose to sign in
THEN I am prompted to enter my username and password --}}
<div class="container">
    <div class="justify-content-center">
        <form id="login-form">
            <div>
                <h3>Sign In!</h3>
            </div>
            <div>
                <input id="login_email" type="text" placeholder="Email">
                <input id="login_password" type="password" placeholder="Password">
            </div>
            <div>
                <button type="submit">Sign in!</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>
