{{!-- WHEN I click on the button to add a new blog post
THEN I am prompted to enter both a title and contents for my blog post
WHEN I click on the button to create a new blog post
THEN the title and contents of my post are saved and I am taken back to an updated dashboard with my new blog post --}}

<section>
    <div>
        <h3 id="newBlogH3">Tell us your thoughts!</h3>
    </div>
    <div>
        <textarea name="title" id="newTitle" cols="30" rows="1" placeholder="Title"></textarea>
    </div>
    <div>
        <textarea name="body" id="newBlogBody" cols="50" rows="100" placeholder="Type your post here."></textarea>
    </div>
    
</section>