{{!-- WHEN I click on the sign-up button
THEN my user credentials are saved and I am logged into the site --}}
<div class="container">
    <div class="justify-content-center">
        <form class= action="">
            <div>
                <h3>Sign up to join our crew here at SH-Tech-Blog!</h3>
            </div>
            <br>
            <div>
                <div>
                   <input id="username" type="text" placeholder="Username"> 
                </div>
                <br>
                <div>
                    <input id="password" type="password" placeholder="Password">
                    <input id="password2" type="password" placeholder="Re-enter Password">
                </div>
            </div>
            <br>
            <div>
                <input class="submit" id="submit" type="submit" value="Sign In!">
            </div>
        </form>
    </div>
</div>