{{!-- WHEN I click on the sign-up button
THEN my user credentials are saved and I am logged into the site --}}
<div class="container">
    <div class="justify-content-center">
        <form id="signup-form">
            <div>
                <h3>Sign up to join our crew here at SH-Tech-Blog!</h3>
            </div>
            <br>
            <div>
                <div>
                   <input id="signupName" type="text" placeholder="Username"> 
                </div>
                <div>
                   <input id="signupEmail" type="text" placeholder="Email"> 
                </div>
                <br>
                <div>
                    <input id="signupPassword" type="password" placeholder="Password">
                </div>
            </div>
            <br>
            <div>
                <input class="submit" id="submit" type="submit" value="Sign In!">
            </div>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>